@model Impulse.DAL.UsersModel
@{
    Layout = null;
}
<!DOCTYPE HTML>
<html lang="en">
<!-- Added by HTTrack -->
<!--<meta http-equiv="content-type" content="text/html;charset=utf-8" />--><!-- /Added by HTTrack -->
<head>
    <!--Begin Script Added On (2-1-2022)-->
    <link href="~/assets2/css/bootstrap3661.css" rel="stylesheet" />
    <link href="~/assets2/css/bootstrapc3db.css" rel="stylesheet" />
    <link href="~/assets2/css/responsive3661.css" rel="stylesheet" />
    <link href="~/assets2/css/responsivec3db.css" rel="stylesheet" />
    <link href="~/assets2/css/ui3661.css" rel="stylesheet" />
    <link href="~/assets2/css/uic3db.css" rel="stylesheet" />
    <link href="~/assets2/fonts/fontawesome/css/all.min.css" rel="stylesheet" />
    <!--EndScript Added On (2-1-2022)-->
    <!-- Google Tag Manager -->
    <script>
    (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    '../../www.googletagmanager.com/gtm5445.html?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-M2TXFLD');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Type some info">
    <meta name="author" content="Type name">

    <title>Website layout sample </title>

    <!-- Bootstrap css -->
    <link href="css/bootstrap3661.css?v=2.0" rel="stylesheet" type="text/css" />

    <!-- Custom css -->
    <link href="css/ui3661.css?v=2.0" rel="stylesheet" type="text/css" />
    <link href="css/responsive3661.css?v=2.0" rel="stylesheet" type="text/css" />

    <!-- Font awesome 5 -->
    <link href="fonts/fontawesome/css/all.min.css" type="text/css" rel="stylesheet">
    </head>
<body>

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M2TXFLD"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header class="section-header">
        @{Html.RenderPartial("~/Views/Shared/_ECommerceHeaderLayout.cshtml");}
    </header>
    <!-- section-header end.// -->
    <!-- ============== SECTION PAGETOP ============== -->
    <section class="bg-primary padding-y-sm">
        <div class="container">
            <ol class="breadcrumb ondark mb-0">
                <li class="breadcrumb-item"><a href="/Home/HomePage">Home</a></li>
                <li class="breadcrumb-item"><a href="/Home/AddToCart">My Cart</a></li>
                <li class="breadcrumb-item"><a href="/Home/OrderPage">Track Order</a></li>
            </ol>

        </div> <!-- container //  -->
    </section>
    <!-- ============== SECTION PAGETOP END// ============== -->
    <!-- ============== SECTION CONTENT ============== -->
    <section class="padding-y bg-light">
        <div class="container">

            <div class="row">
                @if (Model.UserId != null)
                {
                <aside class="col-lg-3 col-xl-3">
                    <!--  COMPONENT MENU LIST  -->
                     <nav class="nav flex-lg-column nav-pills mb-4">
                        <a class="nav-link active" href="#">Account main</a>
                        <a class="nav-link" onclick="OrdersDetailsView(2);">New Orders</a>
                        <a class="nav-link" onclick="OrdersDetailsView(1);">Pending Orders</a>
                        <a class="nav-link" onclick="OrdersDetailsView(3);">Orders history</a>
                        <a class="nav-link" href="/LogIn/LogOut">Log out</a>
                    </nav>
                    <!--   COMPONENT MENU LIST END .//   -->
                </aside>
                }
                @if (Model.UserId != null)
                {
                    <main class="col-lg-9  col-xl-9">
                        <article class="card">
                            <div class="content-body">

                                <figure class="itemside align-items-center">
                                    @*<div class="aside">
                                            <span class="bg-gray icon-md rounded-circle">
                                                <img src="images/avatars/avatar.webp" class="icon-md rounded-circle">
                                            </span>
                                        </div>*@
                                    <figcaption class="info">
                                        <h6 class="title">@Model.UserFullName</h6>
                                        <p>
                                            Email: @Model.Email, Phone: +@Model.UserMobileNumber
                                            <a href="/Home/EditRegisterProfile" class="px-2"><i class="fa fa-pen"></i></a>
                                        </p>
                                    </figcaption>
                                </figure>
                                <hr>
                                <div class="row g-2 mb-3">
                                    <div class="col-md-6">
                                        <a class="btn btn-light">@*<i class="me-2 fa fa-plus"></i>*@Your Delivery Address</a>
                                        <br>
                                        <br>
                                        
                                        <article class="box bg-light">
                                            <b class="mx-2 text-muted"><i class="fa fa-map-marker-alt"></i></b>
                                            @Model.UserAddress
                                        </article>

                                    </div> <!-- col.// -->
                                    <!-- col.// -->
                                </div> <!-- row.// -->
                                @*<a href="#" class="btn btn-light"> <i class="me-2 fa fa-plus"></i> Add new address </a>*@
                                <hr class="my-4">
                                <div id="OrdersPartialViewsId">
                                   
                                </div>
                            </div>
                            <!-- card-body .// -->
                        </article> <!-- card .// -->
                    </main>
                }
                else
                {
                    <main class="col-lg-9  col-xl-9">
                        <article class="card">
                            <table class="content-body">
                                <tr>
                                    <td>
                                        <h6>Please Sign In For showing Order</h6>
                                    </td>
                                    <td>
                                        <a href="/LogIn/LogIn" class="btn btn-primary">Sign In</a>
                                    </td>
                                </tr>
                            </table>
                        </article>
                    </main>
                }

            </div> <!-- row.// -->

            <br><br>


        </div> <!-- container .//  -->
    </section>
    <!-- ============== SECTION CONTENT END// ============== -->

    <footer class="section-footer bg-primary footer-dark">
        <div class="container">
            <section class="footer-main padding-y">
                <div class="row">
                    <aside class="col-12 col-sm-12 col-lg-3">
                        <article class="me-lg-4">
                            <img src="images/logo-white.webp" class="logo-footer">
                            <p class="mt-3"> © 2018- 2021 Templatemount. <br> All rights reserved. </p>
                        </article>
                    </aside>
                    <aside class="col-6 col-sm-4 col-lg-2">
                        <h6 class="title">Store</h6>
                        <ul class="list-menu">
                            <li> <a href="#">About us</a></li>
                            <li> <a href="#">Find store</a></li>
                            <li> <a href="#">Categories</a></li>
                            <li> <a href="#">Blogs</a></li>
                        </ul>
                    </aside>
                    <aside class="col-6 col-sm-4 col-lg-2">
                        <h6 class="title">Information</h6>
                        <ul class="list-menu">
                            <li> <a href="#">Help center</a></li>
                            <li> <a href="#">Money refund</a></li>
                            <li> <a href="#">Shipping info</a></li>
                            <li> <a href="#">Refunds</a></li>
                        </ul>
                    </aside>
                    <aside class="col-6 col-sm-4  col-lg-2">
                        <h6 class="title">Support</h6>
                        <ul class="list-menu">
                            <li> <a href="#"> Help center </a></li>
                            <li> <a href="#"> Documents </a></li>
                            <li> <a href="#"> Account restore </a></li>
                            <li> <a href="#"> My Orders </a></li>
                        </ul>
                    </aside>
                    <aside class="col-12 col-sm-12 col-lg-3">
                        <h6 class="title">Newsletter</h6>
                        <p>Stay in touch with latest updates about our products and offers </p>

                        <form class="mb-3">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Email">
                                <button class="btn btn-light" type="submit">
                                    Join
                                </button>
                            </div> <!-- input-group.// -->
                        </form>
                    </aside>
                </div> <!-- row.// -->
            </section>  <!-- footer-top.// -->
            <hr class="my-0">
            <section class="footer-bottom d-flex justify-content-lg-between">
                <div>
                    <i class="fab fa-lg fa-cc-visa"></i>
                    <i class="fab fa-lg fa-cc-amex"></i>
                    <i class="fab fa-lg fa-cc-mastercard"></i>
                    <i class="fab fa-lg fa-cc-paypal"></i>
                </div>
                <nav class="dropup">
                    <button class="dropdown-toggle btn text-white d-flex align-items-center py-0" type="button" data-bs-toggle="dropdown">
                        <img src="images/flags/flag-usa.webp" class="me-2" height="20">
                        <span>English</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">Russian</a></li>
                        <li><a class="dropdown-item" href="#">Arabic</a></li>
                        <li><a class="dropdown-item" href="#">Spanish</a></li>
                    </ul>
                </nav>

            </section>
        </div> <!-- container end.// -->
    </footer>


    <!-- Bootstrap js -->
    <script src="js/bootstrap.bundle.min.js"></script>

    <!-- Custom js -->
    <script src="js/script3661.js?v=2.0"></script>

</body>

<!-- Mirrored from bootstrap-ecommerce.com/bootstrap5-ecommerce/page-profile.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 19 Oct 2022 05:57:02 GMT -->
</html>
<script>
    var WistListCount = @Html.Raw(Json.Encode(Model.WistListCount));
    var AddToCartCount = @Html.Raw(Json.Encode(Model.AddToCartCount));
    var OrderListCount = @Html.Raw(Json.Encode(Model.OrderListCount));

    if (AddToCartCount == null) {
        document.getElementById('MyCartButtonCountId').innerHTML = "";
        document.getElementById('MyCartButtonCountId').innerHTML = '0';
    } else if (AddToCartCount != null && AddToCartCount != undefined) {
        document.getElementById('MyCartButtonCountId').innerHTML = "";
        document.getElementById('MyCartButtonCountId').innerHTML = AddToCartCount;
    }

    if (WistListCount == null) {
        document.getElementById('WishlistButtonCountId').innerHTML = "";
        document.getElementById('WishlistButtonCountId').innerHTML = '0';
    } else if (WistListCount != null && WistListCount != undefined) {
        document.getElementById('WishlistButtonCountId').innerHTML = "";
        document.getElementById('WishlistButtonCountId').innerHTML = WistListCount;
    }

    if (OrderListCount== null) {
        document.getElementById('OrderPageCountId').innerHTML = "";
        document.getElementById('OrderPageCountId').innerHTML = '0';
    } else if (OrderListCount != null && OrderListCount != undefined) {
        document.getElementById('OrderPageCountId').innerHTML = "";
        document.getElementById('OrderPageCountId').innerHTML = OrderListCount;
    }

    function OnClickCancelOrders(OrderId,OrderStatusId) {
        debugger;
        $.ajax({
            type: 'POST',
            dataType: 'HTML',
            url: '/Order/OrdersCancel?OrderId=' + OrderId + '&OrderStatusId=' + OrderStatusId,
            success:
                function (response) {
                    debugger;
                    if (response != null) {
                        alert('here');
                        debugger;
                        $('#OrdersPartialViewsId').empty();
                        $('#OrdersPartialViewsId').html(response);
                    }
                },
        });
    }


    OrdersDetailsView(2);

    function OrdersDetailsView(OrderViewId) {
        debugger;
        $.ajax({
            type: 'POST',
            dataType: 'HTML',
            url: '/Home/OrdersDetailsView?OrderViewId=' + OrderViewId,
            success:
                function (response) {
                    debugger;
                    if (response != null) {
                        alert('here');
                        debugger;
                        $('#OrdersPartialViewsId').empty();
                        $('#OrdersPartialViewsId').html(response);
                    }
                },
        });
    }


</script>